[submodule "docs/modules/grammar"]
	path = docs/modules/grammar
	url = https://github.com/eq19/grammar
[submodule "docs/module/grammar"]
	path = docs/module/grammar
	url = https://github.com/eq19/grammar
[submodule "docs/module/parser"]
	path = docs/module/parser
	url = https://github.com/eq19/parser
